<table>
  <thead>
    <tr>
      <td>Student Id</td>
      <td>Student Name</td>
      <td>History grade</td>
      <td>Biology grade</td>
      <td>Math grade</td>
      <td>Arts grade</td>
      <td>P.E. grade</td>
      <td>Chemstry grade</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studentList">
      <td>{{student.studentId}}</td>
      <td>{{student.studentName}}</td>
      <td>{{student.historyGrade}}</td>
      <td>{{student.biologyGrade}}</td>
      <td>{{student.mathGrade}}</td>
      <td>{{student.artsGrade}}</td>
      <td>{{student.peGrade}}</td>
      <td>{{student.chemstryGrade}}</td>
    </tr>
  </tbody>
</table>
